h1 {
   color: #ffffff;
   background-color: #ff0000;
   text-align: center;
}

p {
   color: #d9d9d9;
   background-color: #15151580;
   font-family: Helvetica, Arial, Tahoma, sans-serif;
}

ol {
   color: #d9d9d9;
   background-color: #15151580;
   font-family: Helvetica, Arial, Tahoma, sans-serif;
}

img {
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}

ul {
   color: #e5e5e5;
   background-color: #15151580;
   font-family: Helvetica, Arial, Tahoma, sans-serif;
}
